#content-col{
	background-color: black;
	color: white;
	height: 980px;
}
#question-number{
padding-top: 25px;	
}
#title-h2{
	padding-top: 25px;
}
.title-page-image{	
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}
.hide{
	display: none;
}
button{
	padding: 5px;
	margin: 10px;
	width: 100%;
	background-color: rgb(253, 253, 253);	
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5vw;
  white-space: normal;	
}
button:hover {
    background-color: rgb(155, 155, 155);
}
body{
	background-image: url("../images/Bouncing-philosophers-1.gif");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}


